<h1>Divisions</h1>

<div>
  <% @divisions.each() do |division| %>
    <h4><a href="/divisions/<%= division.name %>"><%= division.name() %></a></h4>
  <% end %>
</div>

<a href="/divisions/new">Add a Division</a>
<a href="/">Return Home</a>
