<h3>Create a new employee:</h3>

<form action="/employees" method="post">
  <label for="name">Employee name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Employee</button>
</form>

<a href="/">home</a>
